.App {
    text-align: center;
    background-color: #000000;
    background-color: rgba(0, 0, 0);
    background-image: repeating-linear-gradient(36deg, rgba(0, 0, 0, 0.1), rgba(253, 0, 0, 0.1) 1px, transparent 0px, transparent 2px);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 50px;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.App-header {
    font-size: 60px;
}

.upload-row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
}

p {
    min-width: 130px;
}

input[type="file"] {
    display: block;
    margin: 10px 0;
}

img {
    max-width: 300px;
    height: auto;
    margin: 30px 0;
}